@model IEnumerable<Recipes.Models.Notification>

@{
    ViewData["Title"] = "Index";
}

<h1>Notifications</h1>

<a class="btn btn-primary" asp-action="SetNotificationReceived">
    Click here to set all notifications received
</a>

@foreach (var item in Model) {
       <div class="card text-center rounded">
           @if(item.IsReceived == false)
           {
           <h4>NEW !</h4>
           <a class="btn btn-outline-primary float-right" asp-action="SetNotificationReceived" asp-route-id="@item.Id">
               Received!
           </a>
           }
           @item.Message <br />
           @item.Date
       </div>
}
  